In [1]:
#Gathering the data
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/BankNoteAuthentication.csv")

In [3]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
data.describe()

          variance     skewness     curtosis      entropy        class
count  1372.000000  1372.000000  1372.000000  1372.000000  1372.000000
mean      0.433735     1.922353     1.397627    -1.191657     0.444606
std       2.842763     5.869047     4.310030     2.101013     0.497103
min      -7.042100   -13.773100    -5.286100    -8.548200     0.000000
25%      -1.773000    -1.708200    -1.574975    -2.413450     0.000000
50%       0.496180     2.319650     0.616630    -0.586650     0.000000
75%       2.821475     6.814625     3.179250     0.394810     1.000000
max       6.824800    12.951600    17.927400     2.449500     1.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1372 entries, 0 to 1371
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   variance  1372 non-null   float64
 1   skewness  1372 non-null   float64
 2   curtosis  1372 non-null   float64
 3   entropy   1372 non-null   float64
 4   class     1372 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 53.7 KB

In [7]:
#Dividing the data
x=data.drop(['class'],axis=1)
y=data['class']

In [8]:
x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8)

Decision tree

In [10]:
# decision tree
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()

In [11]:
tree.fit(x_train,y_train)

DecisionTreeClassifier()

In [12]:
tree_predictions=tree.predict(x_test)

In [13]:
#accuracy of decision tree model
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,tree_predictions)
ac=accuracy_score(y_test,tree_predictions)

In [14]:
print(cm)

[[149   2]
 [  2 122]]

In [15]:
print(ac)

0.9854545454545455

Random Forest

In [16]:
from sklearn.ensemble import RandomForestClassifier
random_forest=RandomForestClassifier()

In [17]:
random_forest.fit(x_train,y_train)

RandomForestClassifier()

In [18]:
forest_predictions=random_forest.predict(x_test)

In [19]:
#accuracy of random forest model
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,forest_predictions)
ac=accuracy_score(y_test,forest_predictions)

In [20]:
print(cm)

[[149   2]
 [  0 124]]

In [21]:
print(ac)

0.9927272727272727