Step 1:- Gathering the Data Set

In [22]:
#loading and reading the dataset
import numpy as np
import pandas as pd

In [23]:
data=pd.read_csv("/content/insurance2.csv")

In [24]:
data.head()

   age  sex     bmi  children  smoker  region      charges  insuranceclaim
0   19    0  27.900         0       1       3  16884.92400               1
1   18    1  33.770         1       0       2   1725.55230               1
2   28    1  33.000         3       0       2   4449.46200               0
3   33    1  22.705         0       0       1  21984.47061               0
4   32    1  28.880         0       0       1   3866.85520               1

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1338 non-null   int64
 1   sex             1338 non-null   int64
 2   bmi             1338 non-null   float64
 3   children        1338 non-null   int64
 4   smoker          1338 non-null   int64
 5   region          1338 non-null   int64
 6   charges         1338 non-null   float64
 7   insuranceclaim  1338 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 83.8 KB

In [26]:
data.describe()

,age,sex,bmi,children,smoker,region,charges,insuranceclaim
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.505232,30.663397,1.094918,0.204783,1.515695,13270.422265,0.585202
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.104885,12110.011237,0.492871
min,18.000000,0.000000,15.960000,0.000000,0.000000,0.000000,1121.873900,0.000000
25%,27.000000,0.000000,26.296250,0.000000,0.000000,1.000000,4740.287150,0.000000
50%,39.000000,1.000000,30.400000,1.000000,0.000000,2.000000,9382.033000,1.000000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,2.000000,16639.912515,1.000000
max,64.000000,1.000000,53.130000,5.000000,1.000000,3.000000,63770.428010,1.000000

Step 2:- Data Cleaning/Data preprocessing/Data Wrangling

In [27]:
#all the element aur numerical in nature so there is no need to change any column to int form
data=data.drop(['insuranceclaim'],axis=1)

In [28]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

Step 3:- Divide the data into dependent(y) and independent(x) variables

In [29]:
x=data[['age','sex','bmi','children','smoker','region']] #these are the independent variables
y=data['charges'] #this is the dependent variables

In [30]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       3
1   18    1  33.770         1       0       2
2   28    1  33.000         3       0       2
3   33    1  22.705         0       0       1
4   32    1  28.880         0       0       1

In [31]:
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

Step 4:- Splitting the data into training and testing set

In [32]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [33]:
x_train.shape

(1070, 6)

In [34]:
y_train.shape

(1070,)

In [35]:
x_test.shape

(268, 6)

In [36]:
y_test.shape

(268,)

Creating a Machine Learning model by using linear Regression Algorith

In [37]:
from sklearn.linear_model import LinearRegression
regression=LinearRegression()  #linear regression algorithm gets activated

In [38]:
regression.fit(x_train,y_train) #fit() is used to train the machine learning model by providing x_train and y_train as input variab

LinearRegression()

In [43]:
predictions=regression.predict(x_test) #predict() is used to predict the output from the machine learning model which then gets compare to y_test

In [44]:
predictions #charges predicted by machine learning model (predicted values

array([10694.20795615,  8760.72070983, 17970.43401372, 30221.8751785 ,
       14123.267209  ,  7090.03147243,  9552.68739013,  5435.37754888,
       10147.78185788, 31992.5425386 , 13317.47766921,  5175.66748723,
       13114.14772638,  5959.1446098 , 31481.19772183, 28226.93788408,
       12276.62133772,  9309.37930119, 13467.39407898,   227.28461602,
       15583.66592544,  1345.49050972,  4915.33244377,  8900.08527337,
       26666.76106379, 33968.22479644, 12168.6178638 ,  5094.8613689 ,
        5043.80094057, 12157.6349141 , 11631.08114553,  2450.93795392,
       10782.61507499, 14769.37407641,  7349.04866947,  7034.43282567,
        5898.1100375 , 28505.35614367,  7367.2269069 , 25664.26799122,
       14044.50946592, 13496.01245175,  7802.64104152,  6521.71005741,
        7948.31166044, 10031.35048198,  4541.81038544, 34670.48628661,
        2574.21074717,  4420.79801236,  3376.35692645, 27524.85417158,
        5736.31093359,  7288.92174358, 11533.05219123,  8299.38400035,
        8077.93661361, 11535.20969064,  5786.09089279, 14757.94909851,
        5132.36836174, 10545.3548316 , 28588.7105091 , 13257.88665474,
       11560.91863287, 13786.2682655 ,  9518.38935551, 10875.42742476,
       10042.80901255, 12832.66115895,  9394.59822601, 36288.03370468,
       41343.08092678, 15424.53220296,  5745.33167642,  5696.42615827,
        8319.9242669 ,  1932.2975782 ,  4578.3070477 , 30487.25636187,
        4720.46953054, 14779.25281231, 19161.56372452,  8313.88418653,
       14707.54395534,  9666.0493065 , 30564.35863898, -1886.99454673,
       14192.50587475,  8128.23983503, 14538.59873045,  9055.45051036,
        2182.78936506, 11386.0414872 , 17358.84226253, 12824.37755845,
        5006.31512454, 12489.69799102, 36957.26350316, 10321.05169443,
       35863.52321236, 10486.31745638, 27904.21986856,  2993.62014462,
       12476.24850122,  4766.70915233, 10304.01601266,  5495.76373646,
        4858.40895032,  8770.70913016,  7935.70344829,  6236.11778672,
       13335.85784963, 10944.31256995, 35258.88350166,  3348.50966129,
        2681.79346952, 10627.18960727,  7648.57972441, 29130.7479662 ,
       33876.26343698, 27455.88361793, 35121.68908922,  8180.51177451,
       26642.43793555,  8417.7840943 , 34429.68164208,  7768.66346139,
       33826.43838564,  8930.07307252,  3035.25883034,  2457.23039554,
       12146.61793625, 15466.03013849, 29837.13439897, 27354.60385179,
       11563.08619475,  8473.37746529, 37174.09020205, 34877.39788471,
       23985.90433395, 12863.04909565,  1799.42308805,  9054.28657826,
       13320.26735035,  7899.70004438,  8637.16497866, 27288.65616404,
       32018.53086996,  -117.13628628, 35438.95300174, 32982.85591327,
       11289.47340345,  5247.4658139 ,  1136.65716037,  9970.70567196,
        8802.51528434, 31536.61468982, 14499.31172445,  7204.92956832,
       25951.63778817, 10972.1899388 , 35420.72673564,  6573.07042603,
       11868.16047257,  6285.70504262, 32057.44959244, 12882.04484469,
        9391.01127162, 16842.03999361, 37346.01726443, 13477.310292  ,
       23528.75407266,  9493.89978693,  2197.17093992,  7155.56715921,
        2396.08086303,  8495.59447443,  4519.70681166, 39576.22866915,
       37645.86963609,  7412.43030831,  5750.17903536,  8972.47845481,
        1790.89240208,  2799.4233181 , 33909.57749379,  5369.43503708,
        7789.20372794,  5395.59118346,  4037.66511976,  7850.16244432,
       27981.00620454, 27450.10519885,  5330.61862311, 15140.93089151,
       11353.64935316,  9259.12142188,  1560.89340256,  3783.38798432,
       14014.26834346, 31983.56886238,  4196.19924862,  3794.96291263,
        5307.64402029, 12490.18881031,  5462.40692676, 10737.21069265,
        4846.41029444,  3494.66851277, 11134.69008261,   676.81962627,
        7278.32637954,  3296.94882418, 14741.53946295,   814.54157519,
       33324.89609655,  1019.69524864, 13427.9335067 , 24186.57940745,
       26308.53436475, 12028.79909585, 34506.68861094,  8214.33381566,
       11211.99699175, 29258.50353383,  9310.83713538,  5648.14668632,
        4443.9436576 ,  5618.11044339, 13071.23177302,  9150.4892152 ,
         281.67398856,  7848.92772992, 32257.06141769,  6085.58705734,
       32557.54190986,  6666.2593973 , 10396.69451268, 12726.15731005,
        3333.98723642,  9465.16528975,  8336.53057217, 12844.8028648 ,
       36007.26214072, 13584.87042585,  1725.77909154,  4779.7122004 ,
        8780.61259166, 30564.14989537, 27329.52699147,  3214.84603623,
        3718.98612595,  3418.35775766, 15446.23391471,  5995.64279691,
        3338.78787857,  3438.02013169, 10330.02968436, 25195.92479873,
       27475.19761039,  6166.86856941, 14702.62074047, 11630.60297794,
       37150.18264943, 32342.78126372, 27037.7658643 ,  2823.61949703])

In [45]:
regression.score(x,y)

0.7501545789772827

For a new customer, How much should be the insurance cost (charges)?

In [46]:
#new customer - new data
data_new={'age':65,'sex':0,'bmi':24,'children':2,'smoker':1,'region':2}

In [47]:
index=[1] #serial number
my_data=pd.DataFrame(data_new,index)

In [48]:
my_data

   age  sex  bmi  children  smoker  region
1   65    0   24         2       1       2

In [49]:
new_predictions=regression.predict(my_data)
print("The insurance cost (charges) for the new customer will be",new_predictions)

The insurance cost (charges) for the new customer will be [37657.87825462]