In [1]:
#Gathering the data
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/Social_Network_Ads.csv")

In [3]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
#Cleaning the data
df=data.drop(['User ID'],axis=1)

In [5]:
df["Gender"]=df["Gender"].apply({"Male":1,"Female":2}.get)

In [6]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [7]:
#dividing the data
x=df[["Gender","Age","EstimatedSalary"]]
y=df["Purchased"]

In [8]:
x.head()

   Gender  Age  EstimatedSalary
0       1   19            19000
1       1   35            20000
2       2   26            43000
3       2   27            57000
4       1   19            76000

In [9]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [10]:
#Spliting the data
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=7)  #k=7

In [12]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [13]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       2   26            43000          0
3       2   27            57000          0
4       1   19            76000          0

In [14]:
x_train.shape

(320, 3)

In [15]:
predictions=knn.predict(x_test)

In [16]:
print(predictions)

[0 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 1 0 1 0 0 0 0 1 0
 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 1 1 0 0 0 0 0 1 1 0 0 0 1 1 0 1 0 0 0 0 1 0
 0 1 0 0 0 0]

In [18]:
from sklearn.metrics import confusion_matrix,accuracy_score
cm=confusion_matrix(y_test,predictions)  #ytest=y, predictions=yhat
ac=accuracy_score(y_test,predictions) #ytest=y, predictions=yhat

In [19]:
print(cm)

[[49  4]
 [ 6 21]]

In [20]:
print(ac)

0.875

For a new customer, check wheather a person will buy or not?

In [21]:
#new data for the customer
new_customer={'gender':1, 'age':40, 'estimatedsalary':50000}

In [22]:
index=[1]
my_data=pd.DataFrame(new_customer,index)

In [23]:
my_data

   gender  age  estimatedsalary
1       1   40            50000

In [24]:
new_predictions=knn.predict(my_data)
print("new customer will ",new_predictions)

new customer will  [0]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- age
- estimatedsalary
- gender
Feature names seen at fit time, yet now missing:
- Age
- EstimatedSalary
- Gender

  warnings.warn(message, FutureWarning)